# Compile output
/build/
/docs/build
/docs/.venv
/*.o
/zh_CN.qm
/en_US.qm
/fk_ver

# IDE & LSP
/.kdev4/
/.vscode/
/*.user
*-swp
/*.kdev4
/.cache/
/tags
/.luarc.json

# file produced by game
/FreeKill
/FreeKill.exe
/mymod
/recording
freekill-wrap.cxx
/server/users.db
/server/rsa
/server/rsa_pub
/freekill.client.config.json
/freekill.server.config.json
/freekill.server.error.log
/freekill.server.info.log
/flist.txt

# windeployqt
/bearer/
/iconengines/
/imageformats/
/platforms/
/Qt/
/QtGraphicalEffects/
/QtQuick/
/QtQuick.2/
/Qt5Compat/
/QtQml/
/QtMultimedia/
/multimedia/
/qmltooling/
/sqldrivers/
/styles/
/tls/
/translations/
/*.dll
/*.bat
