# Compile output
build/
lib/libgit2/
*.o
zh_CN.qm

# IDE & LSP
.kdev4/
.vscode/
*.user
*-swp
*.kdev4
.cache/
tags

# file produced by game
FreeKill
FreeKill.exe
freekill-wrap.cxx
server/users.db
server/rsa
server/rsa_pub
freekill.client.config.json
freekill.server.config.json
flist.txt

# windeployqt
bearer/
iconengines/
imageformats/
platforms/
Qt/
QtGraphicalEffects/
QtQuick/
QtQuick.2/
Qt5Compat/
QtQml/
QtMultimedia/
sqldrivers/
styles/
tls/
translations/
*.dll
