build/
.kdev4/
.vscode/
*.user
*-swp
*.kdev4
FreeKill
FreeKill.exe
freekill-wrap.cxx
server/users.db
server/rsa
server/rsa_pub
freekill.client.config.json
freekill.server.config.json
bearer/
iconengines/
imageformats/
platforms/
Qt/
QtGraphicalEffects/
QtQuick/
QtQuick.2/
*.dll
