{
  "banwords": [],
  "description": "FreeKill Server",
  "iconUrl": "https://img1.imgtp.com/2023/07/01/DGUdj8eu.png",
  "capacity": 100,
  "tempBanTime": 20,
  "motd": "Welcome!",
  "hiddenPacks": [],
  "enableBots": true
}
