{
  "banwords": [],
  "description": "FreeKill Server",
  "iconUrl": "default",
  "capacity": 100,
  "tempBanTime": 0,
  "motd": "Welcome!",
  "hiddenPacks": [],
  "enableBots": true,
  "roomCountPerThread": 2000,
  "maxPlayersPerDevice": 5
}
